h1 {

  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;

}

h3 {
  font-size: 18px;
  font-family: bradley Hand;
  color: #e7e7e7;
  text-decoration: none;

}

#Loca {
  font-size: 12px;
  color: #e7e7e7;
}

#Prix {
  font-size: 14px;
  color: #F5F5F5;
  text-decoration: underline
}

#button {
  background-color: #008CBA;
  border-radius: 30px;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
}

h4 {
    white-space: nowrap;
    width: 98px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: Stencil Std;
    color: white;
    margin-top: 15px;

}

#GT {
  font-family: Chalkduster;
  font-size: 14px;
  color: #00CED1;
}

