<h1> Gr'One </h1>

<html>
  <head>
    <meta charset="utf-8">
    <title> Jacky's profil ! </title>
    <script src="https://kit.fontawesome.com/bf21df1c42.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" class= link-profil>
  </head>



    <body>
      <div class="container">
        <h1> Gr'One </h1>
        <img class="img-profil" src="images/8C.JPG" alt="">
        <p> né le 27.12.1993 (25ans), Paris 15e. <br /> J'habite a Epinay-sur-Seine. </p>
        <div class="btn">
          <a href="https://www.lewagon.com/fr" target="_blank" class=" btn-discovery"> Discover my school </a>
        </div>
      </div>
      <div class="container">
        <div class="footer">
          <h2> Follow my pages </h2>
          <ul>
          <li>
            <a href="https://www.facebook.com/KrayziBL?ref=bookmarks"target="_blank"><i class="fab fa-facebook-square style-icon"></i>
           </a>
          </li>
          <li>
            <a href="https://www.instagram.com/_krayzi/"target="_blank"><i class="fab fa-instagram style-icon2"></i>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </body>
</html>
