<body>

<div class="cards">
<%= @freegraffers.first(6).each do |f| %>
  <%= link_to freegraffer_path(f) do %>
  <div class="card-graf" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("<%= f.photo %>")">
    <%= f.description %>
  </div>
 <% end %>
 <% end %>

</div>

</body>
