<h1>Your appointments : </h1>
<div class= 'container'>
<% @booking_infos.each do |booking_info| %>
<p><%= booking_info.freegraffer.description %> - <%= booking_info.freegraffer.style %></p>


<p><%= booking_info.start_date %> -<%= booking_info.end_date %>  </p>

<% end %>
</div>
