<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

  <%= simple_form_for [@freegraffer, @booking_info] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { class: "datepicker form-box"}, label: 'Start date', placeholder: "#{Date.today}", required: true %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker form-box"}, label: 'End date', placeholder: "#{Date.today+5}", required: true %>
  <%= f.submit "add a book", class: "btn btn-primary" %>
<% end %>
