<div class="container">
      <h1><%= @freegraffer.description %></h1>
  <div class="row">
    <div class="col-8">
       <div class='show-picture'>
      <%= cl_image_tag @freegraffer.photo.key, height: 400, width: 800, crop: :fill %>
      </div>
        <div id=Loca> City available </div>
        <div id= Villes> <br> Paris,France <br> Barcelona, Spain <br> Milan, Italie <br> Berlin, Germany </div>
      </div>
    <div class="col-2 offset-1">
      <div class="flexbox">
        <br>
        <h3> Styles of Graph </h3>
        <li>* Tag</li>
        <li>* Street View</li>
        <li>* Graffiti</li>
        <br>
        <div id=Tar> Tarifs: </div> <div id=Money> <%=@freegraffer.price%>£ /day</div>
        <br>
        <div class="btn">
          <%= link_to "Book me ! ",  new_freegraffer_booking_info_path(@freegraffer), id: "button", class: "btn" %>
          </div>
      </div>

    </div>
  </div>

