<div><%= @freegraffer.description %></div>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> _Profil_Grfr_0.1 </title>
  </head>
  <body>
    <%= yield %>
    <div class="container">
      <h1> Grf'One_ </h1>
      <h3>Réalisation de graph'</h3>
      <p> Paris, France </p>
      <img class="img-profil" id=PixProfil src="<%= freegraffer.photo %>" alt="">
        <div>

          <br/> Tarifs : <%= freegraffer.price %> £ / day </p>
          <div class="btn">
          <a href="https://www.lewagon.com/fr" target="_blank" class=" btn-discovery"> BOOK ME NOW </a>
          </div>
        </div>
    </div>
      <div class="container"><
        <h3>Graph Styles</h3>

      </div>

        <br/>
        <div class="container">
          <div class="footer">
            <h4> Other Pages </h4>
            <ul><li>
            <a href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-square style-icon"></i>
            </a>
            </li>
              <li>
                <a href="https://www.instagram.com/"target="_blank"><i class="fab fa-instagram style-icon2"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
  </body>
</html>



