
<div class="container">
    <h1><%= @freegraffer.description %></h1>
    <img class="img-profil" src= "<%= (url_for@freegraffer.photo) %>" alt="">
    <h3>Réalisation de graffe'</h3>
    <p id=Loca> Paris, France </p>
    <div>
      <%= cl_image_tag @freegraffer.photo.key, alt: "alttext" %>
    </div>

    <div id=Prix>
      <br/> Tarifs : <%= @freegraffer.price %> £ / day </p>
      <div class="btn">
        <a href="https://www.lewagon.com/fr" target="_blank" id=button class="btn"> Book me!</a>
      </div>
    </div>


    <div id=GT>
      <h3>Graph styles</h3>
      <li>Tag</li>
      <li>Street View</li>
      <li>Graffiti</li>
    </div>

    <div class="footer">
      <h4> Other Pages </h4>
      <ul><li>
      <a href="https://www.facebook.com/"target="_blank"><i class="fab fa-facebook-square style-icon"></i>
      </a>
      </li>
        <li>
          <a href="https://www.instagram.com/"target="_blank"><i class="fab fa-instagram style-icon2"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>




