<%#= cl_image_tag @freegraffer.photo.key, alt: "alttext" %>

<div class="container">
  <h1><%= @freegraffer.description %></h1>
  <h3>Réalisation de graffe'</h3>
  <p id=Loca> Paris, France </p>
<%= cl_image_tag @freegraffer.photo.key, height: 600, width: 1080, crop: :fill %>
   <div id=Prix>
      <br/> Tarifs : <%= @freegraffer.price %> £ / day </p>
      <div class="btn">
      <a href="https://www.lewagon.com/fr" target="_blank" id=button class="btn"> Book me!</a>
      </div>
    </div>
</div>
  <div id=GT class="container">
    <h3>Graph styles</h3>
    <li>Tag</li>
    <li>Street View</li>
    <li>Graffiti</li>
  </div>


