.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: -webkit-box;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-size: 25px;
  font-family: fantasy;
  color: #FFFAFA;
  margin-right: 15px;

}
